.datepicker {
  /* width: 9rem;
  height: 40px; */
  /* margin-top: 20px; */
  border: 10px;
  border-color: white !important;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 10px 10px rgba(0,0,0,0.3) !important;

} 

.rec-tog-date{
  width: 100%;
position: relative;
border: none;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 35px;
padding-left: 1%;
background-color: #ffffff !important;
border-radius: 13px;
transform: matrix(1, 0, 0, 1, 0, 0);
line-height: 24px;
height: 38px;
letter-spacing: 0.2px;
}
.rec-tog-date:focus {
  outline: none !important;
  box-shadow: none !important;
}
.table::-webkit-scrollbar  {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.table {
-ms-overflow-style: none;  /* IE and Edge */
scrollbar-width: none;  /* Firefox */
box-shadow: 0 10px 10px rgba(0,0,0,0.3) !important;
}

.card{
  display: flex;
  justify-content: center;
  box-shadow: 0 10px 10px rgba(0,0,0,0.3) !important;
  cursor: pointer;
}
.card:hover,.card:active{
  transition: transform 0.3s;
  transform:scale(1.05)
}


.analytics_line{
  width: 100%;
  margin-top: 1rem;
  border:2px solid #ccc
}


.tableheader {
background-color: #0E1C5E ;
font-weight: bold !important;
}



